.product-img {
    width: 400px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
}

.spacer {
    flex: 1 1 auto;
  }
  
.image{
    max-width: 10%; /* Adjust the maximum width of the image */
  height: auto; 
}
