<mat-toolbar color="primary">
    <button mat-icon-button matTooltip="back" (click)="return()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    
    Usr's Cart

    <span class="spacer"></span>
    <button mat-icon-button  matTooltip="Logout" (click)="this.logOut()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<div *ngIf="!this.cartDetails">
    Nothing is in the cart
</div>


<div *ngIf="this.cartDetails" class="container">
    <div class="products">

    <table mat-table [dataSource]="this.cartDetails.data" class="mat-elevation-z8">

        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let cart">
              <div>
                <img class="image" src="{{cart.product.image}}">
              </div>
              <div>
                {{ cart.product.name }}
              </div>
              <div>
                <strong>Price:</strong> {{ cart.product.price }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let cart">
              <button mat-icon-button (click)="incrementQuantity(cart.id, cart.product.id, false, cart.quantity) " [disabled]="this.cart.quantity == 0">
                <mat-icon>remove</mat-icon>
              </button>
              <mat-form-field class="quantityInput">
               <input matInput  [(ngModel)] ="cart.quantity" [disabled]="true">
              </mat-form-field>
               <button mat-icon-button (click)="incrementQuantity(cart.id, cart.product.id, true, cart.quantity)">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteItem(cart.id)" color="red">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let cart"> {{cart.total| currency: 'USD'}} </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    
    </table>
    
</div>

<div class="space-gap">

</div>
    <div class="pay">
      payment:

      Total cost: {{this.cartDetails.grandTotal}}
    </div>
      
</div>











