<h3 mat-dialog-title>Add Product</h3>

<div mat-dialog-content class="example-content">
    <form>
        <p>
        <mat-form-field>
            <mat-label>
                Product Name:
            </mat-label>
            <input matInput [(ngModel)]="this.productData.name" name="prodcutName">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>
                Product Description:
            </mat-label>
            <input matInput [(ngModel)]="this.productData.description" name="description">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>
                Product Details:
            </mat-label>
            <input matInput [(ngModel)]="this.productData.detail" name="details">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>
                Product Quantity:
            </mat-label>
            <input matInput [(ngModel)]="this.productData.quantity" name="quantity" type="number">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>
                Product Price: (in dollars)
            </mat-label>

            <input matInput [(ngModel)]="this.productData.price" name="price" type="number">
        </mat-form-field>
    </p>

    <p>
        <button mat-raised-button (click)="this.onSubmit()">Submit</button>
    </p>
      
    </form>
</div>
