<mat-toolbar color="primary">{{this.data? 'Update Product' : 'Add Product'}}
    <span class="spacer"></span>
    <button mat-icon-button color="warn" matDialogClose>
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<div mat-dialog-content class="example-content">
    <form>
        <p>
        <mat-form-field>
            <mat-label>
                Product Name:
            </mat-label>
            <input matInput [(ngModel)]="this.productData.name" name="prodcutName">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>
                Product Description:
            </mat-label>
            <textarea matInput [(ngModel)]="this.productData.description" name="description"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>
                Product Details:
            </mat-label>
            <textarea matInput [(ngModel)]="this.productData.details" name="details"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>
                Product Image in url:
            </mat-label>
            <textarea matInput [(ngModel)]="this.productData.image" name="imageUrl"></textarea>
        </mat-form-field>
    </p>
    <p *ngIf="!addCategory" >
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select (selectionChange)="this.selectedCategory($event)">
              <mat-option *ngFor="let category of categoryList" [value]="category">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button matTooltip="add more category" mat-icon-button (click)="addCategory = true">
            <mat-icon>add</mat-icon>
          </button>
    </p>


    <p *ngIf="addCategory">

        <mat-form-field>
            <mat-label>Add new Category</mat-label>
        <input matInput [(ngModel)] = "this.newCategory" name="category"> 
        
        </mat-form-field>
        <button mat-icon-button (click)="this.saveCategory()" [disabled]="this.newCategory.length<1">
            <mat-icon>save</mat-icon>
        </button>
    </p>
    
    <p>
        <mat-form-field>
            <mat-label>
                Product Quantity:
            </mat-label>
            <input matInput [(ngModel)]="this.productData.quantity" name="quantity" type="number">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>
                Product Price: (in dollars)
            </mat-label>

            <input matInput [(ngModel)]="productData.price" name="price" type="number">
            
        </mat-form-field>
    </p>

    <p>
        <button mat-raised-button (click)="this.onSubmit()" *ngIf="!data">Submit</button>
        <button mat-raised-button (click)="this.update()" *ngIf="data">Update</button>
    </p>
      
    </form>
</div>
