<mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
      <span>Welcome</span>
      <span class="spacer"></span>
      <button mat-icon-button  matTooltip="Logout" (click)="this.logOut()">
          <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button (click)="this.getUsers()">Users</button>
      <button mat-button (click)="this.getProducts()">Products</button>      
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="displayUsers">
    <h1>Users</h1>

    <mat-list role="list" *ngFor="let user of userList">
        <mat-list-item role="listitem">{{user.name}}</mat-list-item>
    </mat-list>
</div>

<div *ngIf="this.displayProducts"> 
<h1>Products <button mat-icon-button (click)="this.addProduct()"> <mat-icon>add</mat-icon></button></h1>
  <mat-grid-list cols="4" rowHeight="200px" >
      <mat-grid-tile *ngFor="let product of productList">
          <mat-card class="product-card">
              <mat-card-header>
                  {{product.name}}
              </mat-card-header>
              <mat-card-content>
                  {{product.description}}
              </mat-card-content>
              <mat-card-actions>
                  <span>{{product.price}}</span>
                  <button mat-icon-button>
                  <mat-icon>add</mat-icon>    
                  </button>
                </mat-card-actions>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    
</div>