
<h2 mat-dialog-title>Create Account</h2>
<div mat-dialog-content>
 <form>
    <p>
    <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput [(ngModel)]="this.user.name" name="username" required>
    </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput [(ngModel)]="this.user.user_name" name="username" required>
        </mat-form-field>
        </p>
    <p>
    <mat-form-field>
        <mat-label>Email Address:</mat-label>
        <input matInput [(ngModel)]="this.user.email" name="email" type="email" required>
    </mat-form-field>
    <p>
    <mat-form-field>
        <mat-label>Phone Number:</mat-label>
        <input matInput [(ngModel)]="this.user.phone" name="phoneNumber" required>
    </mat-form-field>
    </p>
    <p>
    <mat-form-field>
        <mat-label> Address:</mat-label>
        <input matInput [(ngModel)]="this.user.address" name="address" required>
    </mat-form-field>
    </p>
    <p>
        <a href (click) = "this.verify()" *ngIf="this.showUrl">Click here for Password</a>

     </p>
    <button mat-raised-button [disabled]="this.disableSave()"
     (click)="this.next()" *ngIf="!this.showUrl">
     Next</button>
     
 </form>

</div>