 <mat-toolbar color="primary">
    <span>Welcome {{this.signedUser.name}}</span>
    <span class="centered-text">
      <mat-icon color="yellow">local_mall</mat-icon>Shoparoo</span>
    <span class="spacer"></span>
    
    <div>
        <button mat-icon-button  matTooltip="Cart" (click)="this.showCart()">
            <mat-icon matBadge="{{this.cartQuantity}}" matBadgeColor="warn">
                shopping_cart_checkout
                </mat-icon>
        </button>
        <button mat-icon-button  matTooltip="Logout" (click)="this.logOut()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>

<p></p>
<mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select (selectionChange)="this.sortBy($event)">
      <mat-option [value]="0">All</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p></p>
<div>
    <mat-grid-list cols="4" rowHeight="250px" [gutterSize]="'10px'" >
        <mat-grid-tile *ngFor="let product of productList">
            <mat-card class="product-card" (click)="onCardClick(product.id)">
                <mat-card-header>
                  <b>{{product.name}}</b>
                </mat-card-header>
                <mat-card-content>
                    <img mat-card-sm-image src="{{this.product.image}}" alt="image of {{product.name}}">
                    <p></p>
                    {{product.description | titlecase}}
                </mat-card-content>
                <mat-card-actions>
                    $<span>{{product.price}}</span>
                  </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      
</div>