<mat-toolbar color="primary">Verify Password</mat-toolbar>

<div>
    <form>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="this.password" 
                [type]="hide ? 'password' : 'text'"
                password required name="passwordForm"
                name="password" required>
                <button matSuffix mat-icon-button (click)="this.togglePasswordVisibility()">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                </mat-form-field>
            </p>
    
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="this.verifyPassword" 
                [type]="hide ? 'password' : 'text'"
                password required name="passwordForm"
                name="password" required>
                <button matSuffix mat-icon-button (click)="this.togglePasswordVisibility()">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                </mat-form-field>
            </p>
    </form>
</div>


